@model Bookish.Models.UserModel

<div>
    @using (Html.BeginForm("addOneUserFormMethod", "accounts", FormMethod.Post))
    {

        <h1>Please enter a user here</h1>
        
            <table>
                <tr>
                    <th colspan="2" align="center">User Details</th>

                </tr>
                <tr>
                    <td>UserName</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>

                </tr>
                <tr>
                    <td>UserDOB</td>
                    <td>@Html.TextBoxFor(m => m.UserDOB)</td>

                </tr>
                 <tr>
                    <td>AmountBorrowedByUser</td>
                    <td>@Html.TextBoxFor(m => m.AmountBorrowedByUser)</td>

                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>

            </table>
            
        
    }
</div>
