@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the library</h2>
    <h4> If you are a user, click here</h4>
    <h4>If you are a librarian, click here</h4>

    <button type="submit" onclick="window.location.href='https://localhost:5001/book/addOneBookPage';"> Add a Book to the library stock</button>
    
</div>
