@{
    ViewData["Title"] = "Home Page";
}

<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h3 class="display-4">Welcome to the library</h3>
    <br />
    <form asp-controller="library" class="main-button" method="GET" asp-action="ShowLibrarianCommand"><button type="submit"> If you are a
            librarian, click here</button></form>
    <br />
    <form asp-controller="library" class="main-button" method="GET" asp-action="ShowMemberCommand"><button type="submit"> If you are a
            member, click here</button></form>
<img  id="image" src="../wholeBookShelf.png" />

  

</div>
