
@model Form_Post_MVC.Models.BookModel
 
@{
    Layout = null;
}
<body>
@using (Html.BeginForm("addOneBook", "book", FormMethod.Post)){

<h1>Please enter a book here</h1>
<form>
    <table>
        <tr>
            <th colspan="2" align="center">Book Details</th>

        </tr>
        <tr>
            <td>BookId</td>
            <td><input type="number" name="BookId" required></td>
            
           
        </tr>
        <tr>
            <td>BookTitle</td>
            <th input type="text" name="BookTitle" required> </th>

        </tr>
        <tr>
            <td>BookAuthor</td>
            <td >@Html.TextBoxFor(m => m.BookId) </td>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>

    </table>
<button type="submit">Submit</button>
</form>
}
</body>
