@model BookListViewModel
@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    <h1 class="display-4"> All the books available </h1>
   
   <ol>
       <li></li>
   </ol>
</div>