@model BookListModel
@{
    ViewData["Title"] = "Book List";
}

<div class="text-center">
    <h1 class="display-4"> All the books available </h1>
   
   <ol>
        @foreach (var item in @Model.BookList)
        {
            <li>@item.DisplayBook()</li>           
        }
   </ol>
</div>