.main-button{
    background-color: rgb(235, 245, 205);
}

.xx{
    background-color: blueviolet;
}
.yy{
    background-color: beige;
}
html {
    background: url("../wholeBookShelf.png") no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.text-center{
    
   
    height: 100%;
    
}
#image{
    max-width: 100%;
}